.#*
*log
*~
*#*
*.rpm
*.tar.gz
*.pid
*.env

/notes
/docs
/node_modules/giphy-wrapper
/node_modules/groupme
/node_modules/natural
/node_modules/pg
/node_modules/request
/node_modules/underscore
/bower_components
/.idea
